@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";

/* Videos grid */

.video-grid-item h5 {
  height: 40px;
  overflow: hidden;
}

.row-fluid .video-grid-item:nth-child(4n+1) {
    margin-left: 0 !important;
 }