@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";
@import "images";



html {
  height: 100%;
}

body {
  background-color: #d4d4d4 !important;
  height: 100%;
}

.layout {
  width        : 100%;
  height       : 100%;
  display      : grid;
  grid-rows    : 1fr;
  grid-columns : 200px auto;
}

.layout-aside {
  grid-column : 1;
  grid-row    : 1;
  height      : 100%;
}

.layout-content {
  grid-column : 2;
  grid-row    : 1;
  height      : 100%;
}

.logo-wr {
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #cbcbcb;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 104px;
  height: 30px;
  background: url($logo) no-repeat;
}

// media grid in home page

.media-wrapper {

}

$mediaWidth: 320px;

.media-cell {
  width: $mediaWidth;
  height: 180px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  text-shadow: 0 0 1px #000;
}

.media-cell img {
  width: $mediaWidth;
  height: auto;
  min-height: 180px;
}

.media-title {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: ($mediaWidth - 30);
  color:#fff;
  padding: 0 15px;
}

// nav

.nav-aside {
  text-transform: uppercase;
  font-size: 11px;
  padding: 20px 0;

  > li > a {
    padding-right: 12px;
    padding-left: 32px;
    position: relative;
    text-shadow: 0 0 1px #ffffff;

    &:active {
      background-color: #eeeeff;
    }

    &:hover {
      background-color: transparent;

      &:before {
        background-color: #f0232f;
        width: 10px;
      }
    }

    &:before {
      content: " ";
      position: absolute;
      top:14px;
      left: 0;
      width: 2px;
      height: 2px;
      background-color: #4c4c4c;
      @include single-transition(width, 334ms, ease-in-out, 0);
    }
  }
}

