@import "compass_twitter_bootstrap_awesome";
@import "compass_twitter_bootstrap_responsive";


.logo-wr {
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.logo-wr h3 {
  margin: 0;
  display: inline-block;
  line-height: 1 !important;
  vertical-align: middle;
}


