@import "utils";
@import "images";

.logo-wr {
    height           : 50px;
    line-height      : 50px;
    text-align       : center;
    background-color : #cbcbcb;
    margin-bottom    : 30px;
}

.logo {
    display        : inline-block;
    vertical-align : middle;
    width          : 104px;
    height         : 30px;
    background     : url(@logo) no-repeat;
}

