@import "utils";
@import "images";

.logo-wr {
    height           : 50px;
    margin-bottom    : 30px;

    text-align       : center;

    background-color : #cbcbcb;

    line-height      : 50px;
}

.logo {
    display        : inline-block;

    width          : 104px;
    height         : 30px;

    vertical-align : middle;

    background     : url(@logo) no-repeat;
}

.top-bar {
    height        : 50px;
    margin-bottom : 30px;

    line-height   : 50px;
}

.thumbnail {
    @borderSpace: 4px;
    @height: 42px;
    @bottomSpace: 15px;
    position : relative;

    .caption {
        position            : absolute;
        right               : @borderSpace;
        bottom              : @bottomSpace;
        left                : @borderSpace;

        display             : block;
        overflow            : hidden;

        height              : @height;

        background-repeat   : no-repeat;
        background-position : 0 -webkit-calc(100% - 10px);

        .background-size(cover);

        .filter(blur(3px));
    }

    .caption-txt {
        position         : absolute;
        right            : @borderSpace;
        bottom           : @bottomSpace;
        left             : @borderSpace;

        display          : block;
        overflow         : hidden;

        height           : @height;
        padding          : 9px;

        color            : #fff;
        background-color : rgba(255, 255, 255, 0.2);

        font-size        : 11px;
    }
}

.media-grid {
    > div {
        margin-bottom : 20px;
    }
}

.channel-header {
    position: relative;
}

.channel-header-logo {
    position: absolute;
    left: 20px;
    top:10px;
}