<h1></h1>
<div class="media" ng-repeat="item in videoResults.items">
    <a class="pull-left" href="#">
        <img class="media-object" ng-src="{{item.snippet.thumbnails.default.url}}">
    </a>

    <div class="media-body">
        <h4 class="media-heading"><a href="#/video/{{item.id.videoId}}">{{item.snippet.title}}</a></h4>
        <p>{{item.snippet.description}}</p>
        <p class="muted"><small><a href="#/channel/{{item.snippet.channelId}}" class="muted">{{item.snippet.channelTitle}}</a> @ {{item.snippet.publishedAt | date:'short'}}</small></p>
    </div>
</div>
